#chirp-user-container{
  display: flex;
}

#chirp-user-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#chirp-user-container:hover{
  background-color: #f1f4f5;
}
#each-chirp-container{
  width: 100%;

  border-bottom: 1px solid #f1f4f5;
}

#each-chirp-container:hover{
  background-color: #f1f4f5;
}

#all-chirps-container{
  display: flex;
  flex-direction: column;
  width: 33%;
  position: absolute;
  top: 100px;
  left: 33%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;

}





#chirp-input-button-contatiner{
  display: flex;
}

form{
  position: absolute;
  top: 10px;
  left: 33%;
  width: 100%;
}
