#splash-logged-in-header{
  position: absolute;
  top: 10px;
  left: 33%;
  margin-top: 0;
}

#chirp-user-container{
  display: flex;
}

#chirp-user-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#chirp-user-container:hover{
  background-color: #f1f4f5;
}
#each-chirp-container{
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid #f1f4f5;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow-wrap: break-word;
}

#each-chirp-container:hover{
  background-color: #f1f4f5;
}

#all-chirps-container{
  display: flex;
  flex-direction: column;
  width: 33%;
  position: absolute;
  top: 200px;
  left: 33%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;

}

#splash-chirp-input{
  align-self: flex-start;
  display: block;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  padding: 0%;
  border: none;
  margin-bottom: 10px;
  height: 60px;
  overflow-y:scroll;
}

#splash-chirp-input:focus{
  outline: none;
}

#chirp-body{
  width: 80%;
  margin-left: 55px;
  margin-top: 0;
}

#chirp-counter{
 position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
}

#chirp-counter-close-to-limit{
  position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
 color: orange;
}

#chirp-counter-over-limit{
  position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
 color: red;
}

#chirp-input-button-contatiner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

#add-chirp-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 33%;
  width: 33%;
  height: 10%;
}

#add-chirp-button{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#add-chirp-button-disabled{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #8ecdf7;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#all-news-container{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  overflow-wrap: normal;
  top: 30px;
  right:13%;
  background-color: #f1f4f5;
  border-radius: 12px;
}

#each-news-container{
  display: inline;
  height: 80px;
  width: 90%;
}

#each-news-container:hover{
  background-color: #eeeeee;
}

#news-headline{
  margin: 0;
}

#news-image-provider{
  margin: 0;
  font-size: x-small;
}

.news-buttons{
  background-color: #f1f4f5;
  height: 40px;
  text-align: left;
  border: 0;
  color: #269ff0;
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.news-buttons:hover{
  background-color: #eeeeee;
  cursor: pointer;
}

#news-image{
  height: 60px;
  width: 60px;
  border-radius: 12px;
}

#news-image-info{
  text-align: end;
  width: 100%;
  margin: 0;
}

#news-text{
  width: 100%;
}

#add-chirp-profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
