#edit-modal {
  position: fixed;
  top: 0%;
  right: 50%;
  bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#edit-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .25);
  backdrop-filter: blur(1px);
}

#edit-modal-content {
  position: absolute;
  background-color:rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
  height: 300px;
  width: 600px;
}

#edit-chirp-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 55%;
  padding: 10px;
  box-sizing: border-box;
}

#edit-chirp-header{
  text-align: center;
}

#edit-comment-header{
  text-align: center;
}

#edit-comment-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 55%;
  padding: 10px;
  box-sizing: border-box;
}

#edit-comment-cancel-button{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#edit-comment-counter{
  position: absolute;
  bottom: 5px;
  right:100px;
  margin-bottom: 0;
}

#edit-comment-counter-zero{
  position: absolute;
  bottom: 5px;
  right:100px;
  margin-bottom: 0;
  color: red;
}

#edit-comment-counter-close-to-limit{
  position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
 color: orange;
}

#edit-comment-over-limit{
  position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
 color: red;
}
