#each-gif-image{
  width: 40%;
  height: auto;
  margin: 1%;
  border-radius: 5px;
}

#gif-container{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 5%;
  width: 80%;
  margin-left: 10%;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
}

#add-giphy-button{
  position: absolute;
  bottom: 5px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

#add-giphy-image{
  height: 20px;
  width: 20px;
  border-radius: 15%;
  transition-delay: 1s;
}

#add-giphy-button:hover{
  background-color:#eeeeee;
}
