/* TODO Add site wide styles */
*{
  margin: 0;
  padding: 0;
}

#side-bar-user-info-container{
  height: 600px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin-left: 10%;
  margin-top: 8%;
}


.navbar-icons{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#nav-home-birdhouse{
  height: 30px;
  width: 30px;
}

#nav-home-logo{
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 3px;
  left: 1px;
}

#nav-home-logo-container{
  position: absolute;
  left: 10.5%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#nav-home-logo-container:hover{
  background-color: #eeeeee;
}

.navbar-containers{
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  border-radius: 30px;
  margin-right: 100px;
}

.navbar-containers:hover{
  background-color: #eeeeee;
}

.navbar-labels{
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
}

#navbar-user-names{
  display: flex;
  flex-direction: column;
}

#navbar-user-username-label{
  color: gray;
}

body{
  font-family: Arial, Helvetica, sans-serif
}

button:hover{
  cursor: pointer;
}

#mp-github-links{
  display: flex;
  justify-content: center;
}

#mp-linkedin{
  display: flex;
  justify-content: center;
}


#navbar-username-label{
  position: relative;
}

#logout-button{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
}

#logout-button:hover{
  background-color: #1A8CD8;
}

#navbar-current-user{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#navbar-user-logout-container{
  position: relative;
  left: 4%;
}

#all-news-container{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  overflow-wrap: normal;
  top: 60px;
  right:12%;
  background-color: #f1f4f5;
  border-radius: 12px;
  padding: 5px;
}

#news-header{
  margin-bottom: 20px;
}

#each-news-container{
  width: 90%;
}

#each-news-container:hover{
  background-color: #eeeeee;
}

#news-headline{
  margin: 0;
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
}

.news-buttons{
  background-color: #f1f4f5;
  height: 40px;
  text-align: left;
  border: 0;
  color: #269ff0;
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}


.news-links:hover{
  background-color: #eeeeee;
  cursor: pointer;
}

#news-image{
  position: relative;
  margin-top: 15px;
  bottom: 20px;
  height: 60px;
  width: 60px;
  border-radius: 12px;
}

#news-image-info{
  text-align: end;
  width: 100%;
  margin: 0;
}

#news-text{
  width: 100%;
}

#news-sub-header{
  margin-top: 10px;
  box-sizing: border-box;
  text-align: left;
  font-size:x-small;
}

.pagenotfound-container{
  text-align: center;
  position: absolute;
  top: 5%;
  left: 36%;
}
