/* TODO Add site wide styles */
*{
  margin: 0;
  padding: 0;
}

#side-bar-user-info-container{
  height: 600px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin-left: 10%;
  margin-top: 8%;
}


.navbar-icons{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#nav-home-birdhouse{
  height: 30px;
  width: 30px;
}

#nav-home-logo{
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 3px;
  left: 1px;
}

#nav-home-logo-container{
  position: absolute;
  left: 10.5%;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#nav-home-logo-container:hover{
  background-color: #eeeeee;
}

.navbar-containers{
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  border-radius: 30px;
  margin-right: 100px;
}

.navbar-containers:hover{
  background-color: #eeeeee;
}

.navbar-labels{
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
  bottom: 7px;
}

body{
  font-family: Arial, Helvetica, sans-serif
}

button:hover{
  cursor: pointer;
}

#mp-github-links{
  display: flex;
  justify-content: center;
}

#mp-linkedin{
  display: flex;
  justify-content: center;
}


#navbar-username-label{
  position: relative;
  top: 2px;
}

#logout-button{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
}

#logout-button:hover{
  background-color: #1A8CD8;
}

#navbar-current-user{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#navbar-user-logout-container{
  position: relative;
  left: 4%;
}
