#profile-page-main-content{
  display: flex;
  flex-direction: column;
  width: 39.5%;
  position: absolute;
  top: 2%;
  left: 26.5%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
}

#profile-header-content{
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  position: absolute;
  margin-top: 0;
}

#profile-go-back-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

#profile-go-back-button:hover{
  background-color: #eeeeee;
}

#profile-go-back-button-image{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#header-chirps-container{
  display: flex;
  flex-direction: column;
}

#profile-header-image{
  width: 100%;
  position: relative;
  top: 50px;
  z-index: 1;
}

#profile-chirp-count{
  font-size: small;
  color: rgb(97, 97, 97);
  text-align: center;
}

#user-profile-picture{
  height: 150px;
  width: 150px;
  position: relative;
  left: 30px;
  bottom: 30px;
  z-index: 2;
  border-radius: 100%;
  border: 5px solid white;
}

#user-profile-names{
  display: flex;
  flex-direction: column;
  position: relative;
  left:50px;
  bottom: 30px;
}


#user-profile-username{
  font-weight: 300;
  font-size: medium;
}

#profile-edit-chirp-container{
  position: relative;
  left: 5%;
  bottom: 30px;
}

#profile-tabs-container{
  border-bottom: 1px solid #f1f4f5;
  display: flex;
}

.profile-tabs{
  width: 25%;
  background-color: transparent;
  height: 50px;
  border: none;
  font-size: medium;
}

.profile-tabs:hover{
  background-color: #eeeeee;
}

.profile-tabs-disabled{
  width: 25%;
  background-color: transparent;
  height: 50px;
  border: none;
  font-size: medium;
  color: #1d9bf0;
}

.profile-tabs-disabled:hover{
  cursor:default;
}

.comment-count-container{
  right: 30%;
  position: absolute;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.comment-count-image{
  margin-right: 10px;
}

#follow-user-button{
  height: 30px;
  width: 70px;
  position: absolute;
  right: 3%;
  top: 24%;
  border-radius: 20px;
  border: none;
  background-color: black;
  color:white;
  font-weight: bold;
}

#follow-user-button:hover{
  background-color: rgb(32, 32, 32);
}

#unfollow-user-button{
  height: 30px;
  width: 70px;
  position: absolute;
  right: 3%;
  top: 24%;
  border-radius: 20px;
  border: 2px solid #eeeeee;
  background-color: white;
  color:black;
  font-weight: bold;
}

#unfollow-user-button:hover{
  background-color: #ffe0e0;
  border: 2px solid rgb(255, 164, 164);
  color: red;
}

#profile-follow-container{
  width: 100%;
  height: fit-content;
  font-size: 14px;
  border-bottom: 1px solid #f1f4f5;
  padding: 20px;
  padding-top: 5px;
  overflow-wrap: break-word;
}

#profile-follower-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#profile-follower-names{
  display: flex;
}

#profile-follower-user-name{

}

#profile-follower-user-username{
  margin-left: 1%;
  color: gray;
}

#profile-follower-bio{
  position: relative;
  bottom: 15px;
  max-width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
}
