#each-chirp-main-content{
  width: 33%;
}

#chirp-container{
  width: 33%;
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 33%;
  overflow-wrap: normal;
  border: 1px solid #f1f4f5;
}

#all-comments-container{
  width: 33%;
  padding: 10px;
  position: absolute;
  top: 250px;
  left: 33%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
  border-bottom: 1px solid #f1f4f5;
}

#edit-chirp-form{
  position: absolute;
  top: 80px;
  left: 33%;
  width: 100%;
}

#edit-chirp-button{
  position: absolute;
  top: 50px;
  left: 33%;
}

#title-back-button-container{
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  position: absolute;
  top: 0;
  left: 33%;
}

#each-main-title{
  margin-top: 0;
  margin-left: 10px;
}

#chirp-reply{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 214px;
  left: 33%;
  width: 33%;
}

#chirp-reply textarea{
  display: block;
  width: 80%;
  width: 100%;
}
