#each-chirp-main-content{
  width: 33%;
}

#chirp-and-comments-container{
  display: flex;
  flex-direction: column;
  width: 33%;
  position: absolute;
  top: 200px;
  left: 33%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
}

#each-chirp-user-container{
  display: flex;
}


#chirp-container{
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid #f1f4f5;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow-wrap: break-word;
}

#chirp-container:hover{
  background-color: #f1f4f5;
}

#all-comments-container{
  width: 33%;
  padding: 10px;
  position: absolute;
  top: 250px;
  left: 33%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
  border-bottom: 1px solid #f1f4f5;
}

#edit-chirp-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 33%;
  width: 33%;
  height: 10%;
}

#edit-chirp-button{
  position: absolute;
  top: 80px;
  left: 33%;
}

#title-back-button-container{
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  position: absolute;
  top: 0;
  left: 33%;
}

#each-main-title{
  margin-top: 0;
  margin-left: 10px;
}

#chirp-reply{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 214px;
  left: 33%;
  width: 33%;
}

#chirp-user{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

#edit-chirp-input{
  align-self: flex-start;
  display: block;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  padding: 0%;
  border: none;
  margin-bottom: 10px;
  height: 60px;
  overflow-y: auto;
}

#edit-chirp-input:focus{
  outline: none;
}

#edit-chirp-profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#chirp-profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
