#each-chirp-main-content{
  width: 33%;
}

#chirp-and-comments-container{
  display: flex;
  flex-direction: column;
  width: 39.5%;
  height: 100%;
  position: absolute;
  top: 29%;
  left: 26.5%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
}

#each-chirp-user-container{
  display: flex;
}

#each-chirp-body{
  width: 80%;
  margin-left: 55px;
  margin-top: 1%;
  margin-bottom: 3%;
}

#each-chirp-go-back-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

#each-chirp-go-back-button:hover{
  background-color: #eeeeee;
}

#each-chirp-go-back-button-image{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}


#chirp-container{
  width: 100%;
  height: fit-content;
  font-size: 14px;
  border-bottom: 1px solid #f1f4f5;
  padding: 20px;
  padding-top: 5px;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

#chirp-container:hover{
  background-color: #f1f4f5;
}

#all-comments-container{
  width: 33%;
  padding: 10px;
  position: absolute;
  top: 500px;
  left: 33%;
  overflow-wrap: normal;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
  border-bottom: 1px solid #f1f4f5;
}

#edit-chirp-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 26.5%;
  width: 39.5%;
  height: 22%;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
  border-bottom: 1px solid #f1f4f5;
  padding: 10px;
  box-sizing: border-box;
}

#edit-chirp-button{
  position: absolute;
  right: 34.5%;
  top: 15%;
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
}

#title-back-button-container{
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 27%;
  margin-top: 0;
}

#each-main-title{
  margin-top: 10px;
  margin-left: 20px;
}

#chirp-reply{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 214px;
  left: 33%;
  width: 33%;
}

#chirp-user{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: black;
}

#edit-chirp-input{
  align-self: flex-start;
  display: block;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  padding: 0%;
  border: none;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 6%;
  height: 65%;
  overflow-y:auto;
}

#edit-chirp-input:focus{
  outline: none;
}

.chirp-form-profile-pics{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#chirp-profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

#edit-chirp-counter{
  position: absolute;
  bottom: 5px;
  right:100px;
  margin-bottom: 0;
}

#edit-chirp-counter-close-to-limit{
  position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
 color: orange;
}

#edit-chirp-over-limit{
  position: absolute;
 bottom: 5px;
 right:100px;
 margin-bottom: 0;
 color: red;
}

.chirp-submit-buttons{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 40px;
}

#edit-chirp-button-disabled{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #8ecdf7;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 40px;
}

#edit-chirp-cancel-button{
  width: 72px;
  height: 34px;
  border: none;
  border-radius: 20px;
  background-color: #1d9bf0;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#chirp-reply-input{
  align-self: flex-start;
  display: block;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  padding: 0%;
  border: none;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 6%;
  height: 65%;
  overflow-y:auto;
}

#chirp-reply-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  width:100%;
  height: 22%;
  border-left: 1px solid #f1f4f5;
  border-right: 1px solid #f1f4f5;
  border-bottom: 1px solid #f1f4f5;
  padding: 10px;
  box-sizing: border-box;
}
